
body>header>nav{
    display: flex; /*crée la lignement (pas précis)*/
    align-items: center; /*aligne tout les élément du nav de manière alligné*/
    justify-content : space-between;
    
    
}
#logo{
    width: 200px;
    height: 60px;
    margin :20px;
    display: flex;
}

.lien {
    border: 1px solid #5A6351;
    border-radius: 6px;     
    padding: 12px 0;       
    margin: 10px;              
    text-decoration: none;    /* Enlève le soulignement */
    color: #003366;
    text-align: center;
    width: 45000px;
    font-size: 12px;
    height: 10px;
    
    
}

#div1, #div2, #div3 {
    border: solid 1px;
    border-radius: 6px;
    color:  #5A6351;
    padding: 12px;      
    text-align: center;
    font-size: 12px;
    width: 200px;
   
}

footer {
    display: flex;
    justify-content: center;
    gap: 20px; /* Espace entre les colonnes */
    padding-bottom: 50px;
    border-top: 1px solid black;
}

.divs {
    margin: 40px; 
    display: flex;
    align-items: center;
    flex-direction: column;
}

.lien_footer {
    text-decoration: none;
    font-style: italic;
    color: #5A6351; 
    margin-top: 10px;
}