
body>header>nav{
    display: flex; /*crée la lignement (pas précis)*/
    align-items: center; /*aligne tout les élément du nav de manière alligné*/
    
    
}
#logo{
    width: 200px;
    height: 60px;
    margin :20px;
    display: flex;
}

.lien {
    border: 1px solid #5A6351;
    border-radius: 6px;     
    padding: 12px 0;       
    margin: 10px;              
    text-decoration: none;    /* Enlève le soulignement */
    color: #003366;
    text-align: center;
    width: 190px;
    font-size: 12px;
    height: 10px;
    
    
}

#section_podium {
    display: flex; /*pour metre le texte et le classement cote a cote*/
    justify-content:space-between;
    align-items: center;
    padding: 150px;
    margin-top: 50px;
}

.texte-intro h1 {
    font-size: 50px;
    color: #003366;
    font-style: italic;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bolder;
    line-height: 1.3; /* espacer le texte*/
}

.podium {
    display: flex;
    align-items: flex-end;
    gap: 20px;
}

.carte {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
}

.rang {
    border: 1px solid blue;
    border-radius: 20px;
    padding: 5px 20px;
    margin-bottom: 10px;
    font-size: 15px;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bolder;
}

.image-box {
    border: 1px solid blue;
    border-radius: 20px;
    width: 100%;
    display: flex; /*centrer*/
    justify-content: center; /*horizontalement*/
    align-items: center; /*verticalement*/
    color: #003366;
    margin-bottom: 10px;
}

.description {
    border: 1px solid blue; 
    border-radius: 10px; 
    padding: 5px;
    font-size: 8px; 
    text-align: center; 
    width: 100%; 
    box-sizing: border-box; /*eviter que le texte déborde*/
    color: black; 
}


.place-1 .image-box {
    height: 200px; 
}

.place-2 .image-box {
    height: 150px; 
}

.place-3 .image-box {
    height: 130px; 
}

.place-1 {
    margin-bottom: 20px; 
}


