
body>header>nav{
    display: flex; /*crée la lignement (pas précis)*/
    align-items: center; /*aligne tout les élément du nav de manière alligné*/
    
    
}
#logo{
    width: 200px;
    height: 60px;
    margin :20px;
    display: flex;
}

.lien {
    border: 1px solid #5A6351;
    border-radius: 6px;     
    padding: 12px 0;       
    margin: 10px;              
    text-decoration: none;    /* Enlève le soulignement */
    color: #003366;
    text-align: center;
    width: 190px;
    font-size: 12px;
    height: 10px;
    
    
}

section>h1{

    color: #938c8c;
    margin : 100px;


}


#champ_1>h2{
    border : solid 2px;
    width :60px;
    text-align: center;
    border-radius:10px ;
    

}

#champ_2{
    border: solid 2px black;
    height: 300px;
    width: 200px;
    border-radius: 10px;
    padding: 30px;
}

#champ_2>h3{
    border: solid;
    border-radius: 15px;
    font-size: 10px;
    

    
}


#champ_3{

    border: solid 2px;
    height: 250px;
    border-radius: 30px;
    margin:20px; 
    padding:0px;
}



#section_podium{

    display: flex;
    align-items: center;
  
}

